.tree_01x{
  background-image:url('/images/layout_bg_01.jpg');
  background-size: contain;
  min-height:600px;
  background-position:top center;
  background-repeat:no-repeat;
}
.tree_02x{
  background-image:url('/images/layout_bg_02.jpg');
  background-size: contain;
  min-height:600px;
  background-position:center center;
  background-repeat:no-repeat;
}
.tree_03x{
  background-image:url('/images/layout_bg_03.jpg');
  background-size: contain;
  min-height:600px;
  background-position:center center;
  background-repeat:no-repeat;
}
.tree_07{
  /*background-image:url('/images/layout_bg_07.png');*/
  background-image:url('https://cdn.jsdelivr.net/gh/youmoula/time-story/themes/ithyotree/source/images/layout_bg_07.png')
  background-size: contain;
  min-height:250px;
  background-position:bottom center;
  background-repeat:repeat-y;
}

.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archives article
  transform: rotate(9deg)
  -moz-transform: rotate(9deg)
  -webkit-transform: rotate(9deg)
  -ms-transform: rotate(9deg)
  -o-transform: rotate(9deg)

.archives
  text-align:left

.archives-r
  text-align:right

.archives-r article
  transform: rotate(-9deg)
  -moz-transform: rotate(-9deg)
  -webkit-transform: rotate(-9deg)
  -ms-transform: rotate(-9deg)
  -o-transform: rotate(-9deg)

.archives-r article,.archives article
  -webkit-writing-mode: vertical-rl
  -ms-writing-mode: tb-rl
  -moz-writing-mode: vertical-rl
  -ms-writing-mode: vertical-rl
  writing-mode: vertical-rl
  -webkit-text-orientation: upright
  -ms-text-orientation: upright
  -webkit-text-orientation: upright
  -moz-text-orientation: upright
  text-orientation :upright
  text-combine-upright :nav-down
  display: initial
  white-spacing: nowrap
  white-space: nowrap
  letter-spacing: -1px
  opacity:(1.8) !important
  -moz-opacity:1.8 !important
  font-family: monospace,'楷体'


.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-inner
  @extend $block
  padding: 10px
  margin-bottom: 15px

.archive-article-title
  text-decoration: none
  font-weight:bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-black
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid color-border
  border-radius: 3px
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    padding: 10px 20px
    line-height: 1
    height: 2ex
  a
    color: color-black
    text-decoration: none
    &:hover
      background: color-grey
      color: #fff
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border